@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>

</address>

<address>
    <strong>Email:</strong> <a href="placeholder@placeholder.com">placeholder@placeholder.com</a><br />
</address>
